<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Something Went Wrong - <%= code %></title>
    <link rel="stylesheet" href="/error.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="code"><%= code %></h1>
      <h2 class="error-message"><%= message %></h2>
    </div>
  </body>
</html>
