* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: grid;
  place-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-wrap: balance;
  text-align: center;
}
.container {
  max-width: 800px;
  padding: 2rem;
}
.code {
  font-size: 9rem;
  color: white;
  -webkit-text-stroke: 5px #d72638;
}
.error-message {
  font-size: 1.5rem;
  text-transform: uppercase;
}
